@use 'styles/colors' as clr;
@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;
@use 'styles/helpers';

$header-height_mobile: 56px;
$header-bg: rgba(0, 0, 0, 0.85);

.header {
  display: flex;
  justify-content: center;

  position: fixed;

  z-index: var(--content-z-index);

  height: 56px;
  width: 100%;

  background: clr.$black-100;
  color: clr.$white-100;

  @include mx.desktop-screen {
    height: 100px;
    position: static;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: calc(cfg.$desktop-breakpoint * 1px);

    padding: 20px;

    @include mx.desktop-screen {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;
    width: 100%;
    overflow: hidden;

    @include mx.desktop-screen {
      width: 50%;
      height: 112px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;

    white-space: nowrap;

    svg {
      transform: rotate(90deg);
    }
  }

  &__logo {
    width: 60px;
    height: 70px;

    @include mx.desktop-screen {
      width: 120px;
      height: 140px;
    }
  }

  &__menu {
    position: absolute;
    transition: transform 0.2s ease-in-out;
    transform: translateY(calc(-100vh - $header-height_mobile * 2));

    @include mx.desktop-screen {
      position: static;
      transform: none;

      width: 355px;
      margin-left: 54px;
      margin-right: 30px;
    }
  }

  &_active {
    //background-color: $header-bg_active;

    .header__menu {
      position: absolute;
      left: 0;
      top: $header-height_mobile;

      opacity: 1;
      transform: translateY(0);

      display: flex;
      width: 100%;
      height: calc(100vh - $header-height_mobile);
    }

    .header__menu-trigger {
      .header__menu-trigger_right {
        transform: rotate(-45deg);
        position: relative;
        bottom: 6.5px;
      }

      .header__menu-trigger_left {
        transform: rotate(45deg);
      }

      .header__menu-trigger_left,
      .header__menu-trigger_right {
        background-color: clr.$white-100;
      }

      &::after {
        display: none;
      }
    }
  }

  &__menu-trigger {
    @extend %flex-column;
    gap: 0.3rem;

    position: relative;

    padding: 1.1rem;
    margin-right: -0.5rem;

    @include mx.desktop-screen {
      display: none;
    }

    &::after {
      background-color: clr.$white-100;

      content: '';
      display: block;
      margin: 0 0 0 auto;

      width: 14px;
      height: 2px;

      transition: background-color var(--transition-duration-ms) ease-in-out;
    }

    &_white {
      &::after,
      .header__menu-trigger_right,
      .header__menu-trigger_left {
        background-color: clr.$white-100;
      }
    }

    &_left,
    &_right {
      transition:
        transform var(--transition-duration-ms) ease-in-out,
        background-color var(--transition-duration-ms) ease-in-out;

      background-color: clr.$white-100;

      display: block;

      width: 20px;
      height: 2px;
    }
  }
}
