@use 'styles/colors' as clr;
@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: clr.$dark-80;
  color: clr.$white-90;

  &__inner {
    width: 100vw;
    max-width: calc(cfg.$desktop-breakpoint * 1px);

    position: relative;
  }

  &__image {
    width: 1200px;
    height: 565px;
  }

  &__content {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 20px;

    top: 90px;

    @include mx.tablet-screen {
      align-items: flex-start;

      right: 30px;

      padding: 0;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1.6rem;
    margin-top: 30px;
  }

  &__title {
    @include mx.set-font(30px, 50px);

    font-weight: 500;
    text-align: center;

    margin: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 20px 0;
    gap: 10px;
  }

  &__paragraph {
    padding: 0;
    margin: 0;

    &_bold {
      font-weight: 700;
    }
  }
}
