@use 'styles/colors' as clr;
@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;
@use 'styles/helpers';

.footer {
  display: flex;
  justify-content: center;

  color: clr.$white-100;
  background: clr.$dark-80;

  padding: 40px 20px;

  scroll-margin-top: 40px;
  scroll-snap-margin-top: 40px;

  &__content {
    width: 100%;
    max-width: calc(cfg.$desktop-breakpoint * 1px);

    @include mx.desktop-screen {
      padding: 0 20px;
    }
  }

  &__map {
    width: 100%;
    height: 300px;

    border-radius: 10px;
    overflow: hidden;

    @include mx.tablet-screen {
      max-width: 500px;
    }
  }

  &__description {
    display: block;

    margin-top: 30px;
  }

  &__subtitle {
    font-size: 16px;

    margin: 0;

    @include mx.desktop-screen {
      font-size: 22px;
    }
  }

  &__text {
    display: block;

    font-size: 16px;

    &_phone {
      display: flex;
      align-items: center;
      gap: 10px;

      color: clr.$white-100;

      white-space: nowrap;

      text-decoration: none;

      svg {
        transform: rotate(90deg);
      }

      transition: color var(--transition-duration-ms) ease-in-out;

      &:hover {
        color: adjust-color($color: clr.$white-100, $blackness: 20%);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 32px;
  }

  &__icon {
    width: 24px;
    height: 18px;

    &_yellow {
      color: orange;
    }

    &_green {
      color: green;
    }
  }

  &__metro {
    display: flex;
    align-items: center;
    gap: 15px;

    height: 18px;
  }

  &__metro-item {
    display: flex;
    align-items: center;
  }

  &__address {
    @extend %flex-column;

    gap: 20px;

    @include mx.tablet-screen {
      gap: 30px;
      flex-direction: row;
    }
  }

  &__title {
    font-size: 20px;

    margin: 0;

    @include mx.desktop-screen {
      font-size: 30px;
    }
  }
}
