@use 'styles/mixins' as mx;
@use 'styles/colors' as clr;

.result {
  width: 100%;

  &__title {
    font-size: 18px;
    font-weight: 500;

    color: clr.$dark-70;

    @include mx.desktop-screen {
      font-size: 22px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    color: clr.$green-100;

    @include mx.desktop-screen {
      width: 36px;
      height: 36px;
    }
  }

  &__content {
    display: flex;
    gap: 30px;

    width: 100%;
  }

  &__content-item {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 20px;

    color: clr.$dark-70;
  }
}
