$grey-100: #f6f7f9;

$green-100: #719b25;
$green-90: #6da152;
$green-80: #63b536;
$green-10: #a5b39d;

$purple-100: #761bcc;

$red-100: #e13e52;

$pink-100: #f03e81;
$pink-90: #e91797;

$white-100: #ffffff;
$white-90: #f6f6f6;

$black-100: #000000;

$dark-100: #333333;
$dark-90: #222;
$dark-80: #000;
$dark-70: #4f4f4f;

$drop: transparent;
