@use 'styles/colors' as clr;

.modal {
  max-width: 400px;
  width: auto !important;

  &__form-item {
    .ant-row {
      display: flex;
      flex-direction: column;
    }
  }

  &__form {
    padding: 0 1rem;

    label {
      font-weight: 500;
    }
  }

  &__title {
    text-align: center;
  }

  &__button {
    background-color: black;
    color: white;

    margin: 0 0 0 auto;

    &:hover {
      color: white !important;
      border-color: clr.$green-80 !important;

      transform: scale(1.06);
      transition: transform var(--transition-duration-ms) ease-in-out;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: end;

    margin-right: 2.5rem;
  }
}
